.container{
  display: flex;
  position: relative;
  width: 100%;
  height: 900px;
  background-color: black;
  // background-image: url("../../images/home-page-slider.jpg");
  // background-size: cover;
}

.container img{
  height: 50px;
  margin-left: 100px;
  margin-top: 35px;
}

ul{
  display: inline;
  list-style: none;
  margin-left: 35%;
  margin-top: 55px;
}
ul li{
  display: inline;
  font-size: 12px;
  margin-right: 50px;
}
li a{
  text-decoration: none;
  color: white;
}

.btn_yellow{
  border: 1px solid #fcd66c;
  background-color: #fcd66c;
  padding: 10px;
}

.containerTitle{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
  color: white;
  text-align: center;
}
.containerTitle h1{
  font-size: 45px;
}
.containerTitle p{
  margin-bottom: 25px;
  font-size: 18px;
}

.containerTitle a{
  text-decoration: none;
  margin:5px;
  padding:10px;
  font-size: 10px;
}
.btn_yellowBorder{
  border: 2px solid #fcd66c;
  color: #fcd66c;
}
.btn_whiteBorder{
  border: 2px solid white;
  color: white;;
}
